body {
	background-color: aliceblue;

	margin-left: 16.5%;
	margin-right: 16.5%;
}

.content{
	margin-left: 16.5%;
	margin-right: 16.5%;
}

.top{
	background-color: white;
}

.mid{
	background-image: url("Bot-white.jpeg");
	background-repeat: no-repeat;
	background-color: white;
	background-position-x: -175%;
}

h1{
	width:50%;
	float: left;
}

.h2p, .content-button{
	max-width: 50%;
}

.bot-pic {
	float: right;
	
}

img {
	height: 250px;
}
