body {
	background-color: aliceblue;

	margin-left: 16.5%;
	margin-right: 16.5%;
}

.content{
	margin-left: 16.5%;
	margin-right: 16.5%;
}

.top{
	background-color: white;
}

.mid{
	background-image: url("Bot-white.jpeg");
	background-repeat: no-repeat;
	background-color: white;
	background-position-x: 320%;
}

h1{
	float: left;
	font-size: 100px !important;
}

.h2p, .content-button{
	width: 50%;
	clear: right;
	float: right;
}

.bot-pic {
	float: right;
	padding-right: 150px;
}

img {
	height: 250px;
}
